@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('modern-normalize');
* {
  transition: all 0.5s ease;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
ol,
ul {
  margin: 0;
  padding: 0 0 0 18px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
}

input:focus {
  border: none;
  outline: none;
}

.modal {
  padding: 8px 12px;
  position: absolute;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px #2e235e12;
  color: $chat-color;
  z-index: 1000;
  align-items: center;
  width: 171px;
  background-color: #fff;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-chat-leave-active {
  transition: none;
}

.fade-chat-leave-to {
  opacity: 0;
}

.fade-chat-leave-move {
  transition: transform 0.1s ease;
}

.fade-chat-enter-active {
  transition: all 1.5s ease;
  transition-delay: calc(0.1s * var(--message-index, 0));
}

.fade-chat-enter-from {
  opacity: 0;
}

.fade-chat-enter-to {
  opacity: 1;
}

.input-with-icons-container {
  width: 100%;
  position: relative;
  margin-bottom: 11px;
  margin-top: 7px;
  .input-label {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: $bold-color;
    margin-bottom: 5px;
    line-height: 21px;
  }
  input {
    width: 100%;
    padding: 14px 10px;
    border-radius: 6px;
    border: 1px solid #efefef;
    background-color: #f3f3ff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    &::placeholder {
      color: #999999;
    }
  }
  button {
    position: absolute;
    bottom: 6px;
    right: 10px;
  }
}

a {
  color: $accent-color;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  font-weight: 400;
}

label {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: $bold-color;
  line-height: 21px;
}
